<form (submit)="addNewTodo()">
    <input type="text" name="inputTodo" placeholder="Enter todo..." class="todo-input" [(ngModel)]="inputTodo"
        required />
    <input type="submit" value="Add Todo" class="btn btn-danger todo-submit" [disabled]="!inputTodo" />
</form>

<div class="todo-container">
    <h2 style="padding-bottom: 20px;">To do :</h2>

    <div class="todo-list">
        <div class="todo-box" *ngFor="let todo of todos, let i = index" ngDefaultControl>
            {{todo.content}}
            <div>
                <span>
                    <mat-icon class="add-icon" (click)="onAddedTodo(todo.content, i)">check_circle</mat-icon>
                </span>
                <span>
                    <mat-icon class="remove-icon ms-3" (click)="onDeleteTodo(i)">remove_circle</mat-icon>
                </span>
            </div>
        </div>
    </div>
</div>
